Modal
<div
  class="modal fade"
  id="edit-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Murid</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/kelas/update/murid?_method=PUT" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">NISN</label>
            <input
              type="number"
              class="form-control nisn"
              name="nisn"
              placeholder="Enter nisn"
              required
            />
          </div>

          <div class="form-group">
            <label for="name">Nama Lengkap</label>
            <input
              type="text"
              class="form-control name"
              name="name"
              placeholder="Enter Nama Lengkap"
              required
            />
          </div>

          <div class="form-group">
            <label for="name">Jenis Kelamin</label>
            <select class="form-control jeniskelamin" name="jenisKelamin">
              <option>--- Jenis Kelamin ---</option>
              <option value="Laki-Laki">Laki-Laki</option>
              <option value="Perempuan">Perempuan</option>
            </select>
          </div>

          <div class="form-group">
            <label for="name">No Telepon</label>
            <input
              type="number"
              class="form-control notelepon"
              name="noTelepon"
              placeholder="Enter No Telepon"
              required
            />
          </div>

          <div class="form-group">
            <label for="name">Alamat</label>
            <textarea name="alamat" class="form-control alamat"></textarea>
          </div>

          <div class="form-group">
            <label for="name">Status Bulan Ini</label>
            <select class="form-control status" name="status">
              <option>Status Pembayaran</option>
              <option value="Belum Bayar">Belum Bayar</option>
              <option value="Sudah Bayar">Sudah Bayar</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="id" class="id" />
          <input type="hidden" value="<%= kelasId %>" name="kelasId" />
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Update Data</button>
        </div>
      </form>
    </div>
  </div>
</div>
